<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a class="nav-link" href="/boards/">전체게시판</a>
<a class="nav-link" href="#">자유 게시판</a>
<a class="nav-link" href="listPage.html">개발 게시판</a>
<a class="nav-link" href="myPage.html">일상 개시판</a>
<a class="nav-link" href="#">사건사고 게시판</a>
<button onclick="articleReq()">글작성</button>
<button onclick="listReq()">글목록</button>
</body>
<script>
    const articleReq = () => {
        location.href = "/boards/article";
    }
    const listReq = () => {
        location.href = "/boards/";
    }
</script>
</html>